H1
{
    color: green;
}
table,th,td
{
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    border:1px solid black;
    border-collapse:collapse;
}

td.goback
{
    padding-left: 3px;
    font-style: italic;
    font-weight:bold;
}

td.directory
{
    font-style: italic;
}

td.file
{
}


td
{
    padding-left: 12px;
}

body {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.logo
{
    text-align: right;
    color: white;
}

span
{
    margin-left: 16px;
    margin-right: 16px;
}

.panel
{
    background: gray;
    color: green;
    padding: 8px;
}

.button
{
    background: ghostwhite;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

a:link {
    color: #0000FF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #0000FF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #000077;
    text-decoration: none;
}
