<html>
<head>
  <script> 
        var imageSource="";
        var siteIP="<% site_ip %>"
        var image;
        var ctx;
        var canvas;
        document.addEventListener('DOMContentLoaded', onready, false);
        window.addEventListener('load', onready, false );
        function onready()
        {
    		canvas_init();
                request_latest_url()
                setInterval(function() {request_latest_url();}, <% refresh_image %>);
        };
 
        function request_latest_url()
        {
            var d = undefined;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", siteIP+"/latest/camera.json",true);
            xhr.onreadystatechange = function()
            {
                if ( xhr.readyState == xhr.DONE)
                {
                    if ( xhr.status == 200)
                    {
                        var jsonObject = JSON.parse(xhr.responseText);
                        // translate response into object
                        d = eval('new Object(' + xhr.responseText + ')');
                        imageSource = d.urls[0].url.toString();
                        if (d == undefined) {
                            siteIP = ""
                            return false;
                        }
                        image.onload = function() {
			    var w = image.naturalWidth;
			    var h = image.naturalHeight;

			    // rescale until fit but stop after 8 rounds...
			    for (i = 0; i < 8; i++)
			    {
		        	    // yeye this can be done better...
			    	if (w > window.innerWidth) {
			        	w = w*0.75;
			        	h = h*0.75;
			    	}
			    	else
					break;
			    }

			    canvas.width = w;
			    canvas.height = h;			
                            ctx.drawImage(image, 0, 0, w, h);
                        };
                        image.src = imageSource
                    }
                    else
                    {
                        siteIP = ""
                    }
                }
            }
            xhr.send();
        }
	function canvas_init()
	{
                image = new Image();
                canvas = document.getElementById("sailCanvas");
		canvas.width = window.innerWidth;
		canvas.height = window.innerHeight;
		ctx = canvas.getContext("2d");
	}



  </script>
</head>
<body>
<canvas style="margin-left: auto; margin-right: auto; display: block;" id="sailCanvas"></canvas>
</body>
</html>
